
.question-selector {
    width: 30px ;
    height: 30px ;
    margin-right: .23rem;
    padding-top: 8px ;
    border-radius: 50% ;
    text-align: center;
    cursor:pointer;
}


.now-question {
    background-color: #19276B;
    border-color: #19276B;
    color: #fff;
    cursor:default;
    
}


.selected-question {
    background-color: #D1D3E2;
    border-color: #D1D3E2;
    color: #1b2f8c;
}
.selected-question:hover {
    background-color: #a9adc7;
    border-color: #a9adc7;
    color: #1b2f8c;
}


.selected-question.focus, .selected-question:focus {
    box-shadow: 0 0 0 .2rem rgba(39, 50, 83, 0.5)
  }
  
  .selected-question.disabled, .selected-question:disabled {
    color: #a7abbe !important;
    background-color: #edeef1 !important;
    border-color: #e7eafc !important;
  }
  
  .selected-question:not(:disabled):not(.disabled).active, .selected-question:not(:disabled):not(.disabled):active, .show>.selected-question.dropdown-toggle {
    color: rgb(238, 237, 237) !important;
    background-color: #dce2f5 !important;
    border-color: #dce2f5 !important;
  }
  
  .selected-question:not(:disabled):not(.disabled).active:focus, .selected-question:not(:disabled):not(.disabled):active:focus, .show>.selected-question.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(39, 50, 83, 0.5)
  }

  .non-selected-question {
    background-color: #fff;
    border-color: #fff;
    color: #1b2f8c;
}
.non-selected-question:hover {
    background-color: rgb(233, 233, 233);
    border-color:rgb(233, 233, 233);
    color: #1b2f8c;
}

.non-selected-question.focus, .selected-question:focus {
    box-shadow: 0 0 0 .2rem rgba(219, 219, 219, 0.5)
  }
  
  .non-selected-question.disabled, .selected-question:disabled {
    color: #dfdfdf !important;
  }
  
  .non-selected-question:not(:disabled):not(.disabled).active, .selected-question:not(:disabled):not(.disabled):active, .show>.selected-question.dropdown-toggle {
    color: rgb(238, 237, 237) !important;
    background-color: #dce2f5 !important;
    border-color: #dce2f5 !important;
  }
  
  .non-selected-question:not(:disabled):not(.disabled).active:focus, .selected-question:not(:disabled):not(.disabled):active:focus, .show>.selected-question.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(39, 50, 83, 0.5)
  }



  .marked-question {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
    color: #1b2f8c;
}
.marked-question:hover {
    background-color: #aaa8a8;
    border-color:#aaa8a8;
    color: #1b2f8c;
}

.marked-question.focus, .marked:focus {
    box-shadow: 0 0 0 .2rem rgba(199, 199, 199, 0.5)
  }
  
  .marked-question.disabled, .marked:disabled {
    color: #5a6285 !important;
  }
  
  .marked-question:not(:disabled):not(.disabled).active, .marked:not(:disabled):not(.disabled):active, .show>.selected-question.dropdown-toggle {
    color: rgb(238, 237, 237) !important;
    background-color: #dce2f5 !important;
    border-color: #dce2f5 !important;
  }
  
  .marked-question:not(:disabled):not(.disabled).active:focus, .marked:not(:disabled):not(.disabled):active:focus, .show>.selected-question.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(39, 50, 83, 0.5)
  }
  
  
  
  .arrow-down-animated {
    animation-name: collapse-icon-animation;
    animation-duration: 0.25s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

.arrow-up-animated {
    animation-name: collapse-icon-animation-reverse;
    animation-duration: 0.25s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

@keyframes collapse-icon-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes collapse-icon-animation-reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
