/.DS_Store
node_modules

/vendor
/inc

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
*.idea
*.vscode
*.scss
*.less
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.php
*.workspace
*.json
git pull origin master --rebase

alert_con.html
